:root {
    /* colors */
    --color-dark: #262626;
    /* rgb(38, 38, 38) */
    --color-dark2: #404040;
    /* rgb(64, 64, 64) */
    --color-light: #f2f2f2;
    /* rgb(242, 242, 242) */
    --color-light2: #d9d9d9;
    /* rgb(217, 217, 217) */

    --color-accent800: #1e40af;
    /* rgb(30, 64, 175) */
    --color-accent700: #1d4ed8;
    /* rgb(29, 78, 216) */
    --color-accent600: #2563eb;
    /* rgb(37, 99, 235) */
    --color-accent500: #3b82f6;
    /* rgb(59, 130, 246) */
    --color-accent400: #60a5fa;
    /* rgb(96, 165, 250) */

    /* font sizes */
    --size-xxs: 0.5rem;
    --size-xs: 0.75rem;
    --size-s: 0.875rem;
    --size-base: 1rem;
    --size-l: 1.125rem;
    --size-xl: 1.25rem;
    --size-2xl: 1.5rem;
    --size-3xl: 1.875rem;
    --size-4xl: 2.25rem;
    --size-5xl: 3rem;
    --size-6xl: 3.75rem;
    --size-7xl: 4.5rem;
    --size-8xl: 6rem;
    --size-9xl: 8rem;
    --size-10xl: 10rem;
}

* {
    margin: 0;
    padding: 0;
}

@font-face{
    font-family: segoe;
    src: url(/public/segoeprb.ttf);
}

html {
    scroll-behavior: smooth;
}

body {
    /* background-color: var(--color-dark); */
    color: var(--color-light);
    font-family: segoe;
}

a {
    text-decoration: none;
    color: inherit;
}

button {
    display: inline-block;
    padding: 0;
    border: none;
    background: none;
    cursor: pointer;
    color: inherit;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 400;
}