.header {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    padding-left: 4rem;
    padding-right: 4rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
    position: sticky;
    top: 0;
    z-index: 99;
    background-color: white;
}

.header__menu {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    list-style: none;
    gap: 2em;
    padding: 0;
    font-size: var(--size-base);
}

.header__line {
    border: 1px solid black;
    height: 1rem;
}