.hero {
    background-color: var(--color-light);
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('../../public/testphoto.JPG');
    background-size:cover;
    background-repeat: no-repeat;
    min-height: 40rem;
    opacity: 0.85;
}

.hero__logo {
    width: var(--size-12xl);
    height: var(--size-12xl);
    padding: 6rem 20rem 6rem 20rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}